/* Intro */

#intro {
  background-attachment: fixed;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)),
    url("/images/banner.jpg");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;
  h1,
  p {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  p {
    font-size: 1.25em;
    color: _palette(fg-bold);

    @include breakpoint("<=medium") {
      br {
        display: none;
      }
    }

    @include breakpoint("<=small") {
      font-size: 1em;
    }
  }

  @include breakpoint("<=large") {
    background-attachment: scroll;
  }
}
