/* Wrapper (main) */

#one section {
  @include breakpoint("<=small") {
    display: flex;
    flex-direction: column-reverse;
  }
}

#wrapper {
  //   color: _palette(fg-bold);

  #sidebar + & {
    margin-left: _size(sidebar-width);

    @include breakpoint("<=large") {
      margin-left: 0;
      padding-top: _size(sidebar-height);
    }

    @include breakpoint("<=small") {
      padding-top: 0;
    }
  }

  #header + & {
    > .wrapper {
      > .inner {
        margin: 0 auto;
      }
    }
  }
}
